.App {
  text-align: center;
  background-color: #111;
}

.due {
  font-size: .9rem;
  color: #888;
  font-weight: 400;
  padding-left: 1rem;
}

.province {
  display: flex;
  text-align: center;
}

.province.header > div {
  background-color: #f60;
  color: #fcfcfc;
}

.area,
.confirmed,
.death,
.cured {
  border: 1px solid #fff;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.area {
  flex: 3;
  padding: .4rem 0;
}

.confirmed,
.death,
.cured {
  padding: .3rem 0;
  flex: 2;
}