.App {
  text-align: center;
  background-color: #111;
}

header i {
  color: #eee;
}

.due {
  font-size: .9rem;
  color: #888;
  font-weight: 400;
  padding-left: 1rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #f60;
  margin: .5rem 0;
  display: block;
}

.new {
  padding: 1rem 0;
  border-bottom: 1px solid #efefef;
}

.new-date {
  color: #888;
}

.new-date > .relative {
  color: #000;
  font-weight: 600;
  display: inline-block;
  padding-right: 1rem;
}

.province {
  display: flex;
  text-align: center;
}

.province.header > div {
  background-color: #f60;
  color: #fcfcfc;
}

.area,
.confirmed,
.death,
.cured {
  border: 1px solid #fff;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.area {
  flex: 3;
  padding: .4rem 0;
  position: relative;
}

.area.active::before {
  content: '.';
  display: block;
  position: absolute;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  border-width: 6px 0 6px 6px;
  border-style: solid;
  border-color: transparent transparent transparent #f60;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
}

.confirmed,
.death,
.cured {
  padding: .3rem 0;
  flex: 2;
}

.fallback {
  padding: 0 1rem 1rem;
  color: #999;
  text-align: center;
}

a {
  text-decoration: none;
  color: unset;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.info a {
  color: #fff;
  cursor: pointer;
  line-height: 1.6em;
  font-size: 1.5rem;
  font-weight: 600;
}

.info > li {
  list-style: none;
  background-color: #2834b9;
  padding: .8rem 1.8rem;
  border-radius: 8px;
  text-decoration: none;
  margin: .5rem 0;
  background-image: url(https://assets.dxycdn.com/gitrepo/bbs-mobile/dist/static/bg-image-3-2@2x.b56753cd.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: auto 3rem;
}

.tip {
  color: #888;
  padding: .5rem 0;
  /* border-left: 1px solid #f60; */
}

h2 small {
  color: #f60;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}