.App {
  text-align: center;
  background-color: #111;
}

header i {
  color: #eee;
}

.due {
  font-size: 0.9rem;
  color: #888;
  font-weight: 400;
  padding-left: 1rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #f60;
  margin: 0.5rem 0;
  display: block;
}

.new {
  padding: 1rem 0;
  border-bottom: 1px solid #efefef;
}

.new-date {
  color: #888;
}

.new-date > .relative {
  color: #000;
  font-weight: 600;
  display: inline-block;
  padding-right: 1rem;
}

.province {
  display: flex;
  text-align: center;
}

.province.header > div {
  color: #000000;
}

.area,
.confirmed,
.death,
.cured,
.tested{
  border: 1px solid #fff;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.area {
  flex: 3;
  padding: 0.4rem 0;
  position: relative;
  color: #212f3d;
}

.area.active::before {
  content: ".";
  display: block;
  position: absolute;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  border-width: 6px 0 6px 6px;
  border-style: solid;
  border-color: transparent transparent transparent #f60;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
}

.area.header {
  background-color: #d5d8dc;
  /*font-size: 80%;*/
}

.confirmed,
.death,
.cured,
.tested
{
  padding: 0.3rem 0;
  flex: 2;
}

.confirmed {
  color: #e74c3c;
}

.confirmed.header {
  background-color: #fadbd8;
  font-size: 80%;
}
.cured {
  color: #00b321;
}

.cured.header {
  background-color: #d5f5e3;
  font-size: 80%;
}

.tested {
  color: #a569bd;
}

.tested.header {
  background-color: #bb8fce ;
  font-size: 80%;
}

.death {
  color: #a93226;
}

.death.header {
  background-color: #e6b0aa;
  font-size: 80%;
}

.fallback {
  padding: 0 1rem 1rem;
  color: #999;
  text-align: center;
  font-size: 70%;
}

a {
  text-decoration: none;
  color: unset;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.info a {
  color: #fff;
  cursor: pointer;
  line-height: 1.6em;
  font-size: 1.5rem;
  font-weight: 600;
}

.info > li {
  list-style: none;
  background-color: #2834b9;
  padding: 0.8rem 1.8rem;
  border-radius: 8px;
  text-decoration: none;
  margin: 0.5rem 0;
  background-image: url(https://assets.dxycdn.com/gitrepo/bbs-mobile/dist/static/bg-image-3-2@2x.b56753cd.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: auto 3rem;
}

.tip {
  color: #888;
  padding: 0.5rem 0;
  /* border-left: 1px solid #f60; */
}

h2 small {
  color: #f60;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.more {
  font-size: 70%;
}

.mapPopup {
  background: white;
  color: #3f618c;
  font-weight: 400;
  padding: 5px;
  border-radius: 2px;
}
